:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --first-logo-color: #4d5ae5;
  --second-logo-color: #2e2f42;
  --third-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --hero-text-color: #ffffff;
  --header-two-color: #2e2f42;
  --hero-image-backround: #2e2f42;
  --focus-hover-color: rgba(77, 90, 229, 1);
  --subtle-backgrounds: #e7e9fc;
  --Light-mode-backgrounds: #f4f4fd;
  --background: #e5e5e5;
  --hero-backround: #2e2f42;
  --button-primary: #e7e9fc;
  --button-hover-focus: #404bbf;
  --button-text-portfolio: #4d5ae5;
  --curent-color: #31d0aa;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

/* логотип */
.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 0.75em;
  color: var(--second-logo-color);
  text-decoration: none;
}

/* вилучила крапки зі спісків */
.list {
  list-style: none;
}

.hero {
  background-color: var(--hero-backround);
}

.hero-header {
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
/* navigation */
.header-nav-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav-item:hover,
.header-nav-item:focus, 
.header-nav-item.current {
  color: var(--focus-hover-color);
}


.header-adr-item {
  font-size: 16px;
  line-height: 0.75em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header-adr-item:hover,
:focus {
  color: var(--focus-hover-color);
}
/* скритий заголовок*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*кнопка головної сторінки*/
.hero-button-item {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--first-logo-color);
  color: var(--hero-text-color);
}
.hero-button-item:hover {
  background-color: var(--background);
  color: var(--button-hover-focus);
}

.hero-button-item:hover {
  background-color: var(--background);
  color: var(--button-hover-focus);
}
/*кнопка сторинки Портфоліо*/
.button-item {
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.75em;
  color: var(--button-text-portfolio);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--button-primary);
}

.button-item:hover {
  background-color: var(--button-hover-focus);
  color: var(--hero-text-color);
}
.button-item:focus {
  background-color: var(--button-hover-focus);
  color: var(--hero-text-color);
}

/*секція Портфоліо*/
/*.project-img {
}*/

.project-hed {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-transform: capitalize;
}
.project-item {
  font-size: 16px;
  line-height: 0.75em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-transform: capitalize;
}
/*блок Наши цілі*/
/*.content {}
.content-header {}
.content-list {}*/

.contevt-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.content-item {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*.content-img {}*/

.content-img-had {
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
/*.content-img-list {} 
.content-img-pic {} 
.team {}*/

.team-hed {
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
/*.team-hed-item .team-hed-item-card .team-photo*/

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
footer {
  background: var(--hero-backround);
}
.footer-item {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.75em;
  text-decoration: none;
}
.web {
  color: var(--first-logo-color);
}
